@font-face {
  font-family: "hafs";
  font-style: normal;
  src: local("hafs"), url(/hafs.woff2) format("woff2");
}

@font-face {
  font-family: "Amiri";
  src: url("/Amiri-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jawi";
  src: url("/JawiUthmanTaha.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-tap-highlight-color: transparent;
}
