@font-face {
  font-family: "hafs";
  font-style: normal;
  src: local("hafs"), url(/hafs.woff2) format("woff2");
}

@font-face {
  font-family: "Amiri";
  src: url("/Amiri-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("/Amiri-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("/Amiri-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("/Amiri-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
